* {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
  tab-size: 4;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:not(*:root) {
    overscroll-behavior: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
  line-height: 105%;
  font-weight: normal;
}

ul {
  padding: 0;
  list-style: none;
  list-style-position: inside;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: '';
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
