:root {
  --white: #fff;
  --black: #000;
  --bg: rgb(27, 27, 27);
  --card-bg: rgb(38, 38, 38);
  --bg-active: #2f2f2f;
  --border: #4d4d4d;

  --danger: #fa7272;
  --warning: #f1c40f;
  --success: #2ecc71;
  --info: #3498db;
  --disabled: #bdc3c7;
}
